.contact::before {
  background-color: rgb(8, 6, 19);
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -1;
  position: absolute;
}
.contact {
  color: white;
  padding: 100px;
  font-family: "Poppins", sans-serif;
  z-index: 0;
  /* padding-bottom: 200px; */

  /* justify-content: space-between; */
}
.form {
  margin-top: 150px;
  background-color: rgb(16, 13, 37);
  border-radius: 20px;
  padding: 40px 30px;
  max-width: 600px;
}
.inputLabel {
  font-size: 25px;
  margin: 0;
  font-family: "Poppins", sans-serif;
  margin: 15px 0px;
}
.inputForm {
  box-sizing: border-box;
  z-index: 1;
  background-color: rgb(21, 16, 48);
  font-family: "Poppins", sans-serif;
  height: 50px;
  width: 100%;
  border: 0px;
  border-radius: 0.5rem;
  font-size: 20px;
  color: white;
  padding: 10px 20px;
}
.inputForm:focus {
  color: white;
  padding: 10px 20px;
}
.getintouch {
  color: #aaa6c3;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  margin: 0;
}
.contactHeading {
  color: #ffffff;
  font-size: 50px;
  margin: 0;
  font-weight: 900;
}
.inputTextbox {
  background-color: rgb(21, 16, 48);
  border-radius: 0.5rem;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  font-size: 25px;
  color: white;
  border: 2px solid transparent;
  height: 200px;
}

.submitBtn {
  background-color: rgb(21, 16, 48);
  border: 0px;
  color: white;
  height: 60px;
  font-size: 22px;
  border-radius: 20px;
  padding: 12px 32px;
  font-weight: 800;
  margin-top: 10px;
  cursor: pointer;
  border: 2px solid transparent;
}
.submitBtn:hover {
  border: 2px solid rgb(21, 16, 48);
  color: white;
  background-color: rgb(40, 36, 62);
  /* cur */
}

@media (max-width: 700px) {
  .inputForm:focus {
    padding: 5px 10px;
    border: 2px solid rgb(196, 196, 196);
  }
  .inputTextbox {
    padding: 10px 10px;
    font-size: 15px;
  }
  .contact {
    padding: 30px;
  }
  /* .contact::before {
    height: 105vh;
  } */
  .form {
    margin-top: 130px;
    margin-bottom: 20px;

  }
  .inputLabel {
    font-size: 16px;
    margin: 15px 0px;
  }
  .inputForm {
    background-color: rgb(21, 16, 48);
    height: 40px;
    width: 100%;
    font-size: 15px;
  }
  .getintouch {
    font-size: 15px;
  }
  .contactHeading {
    color: #ffffff;
    font-size: 35px;
    margin-top: 10px;
    font-weight: 900;
  }
  .submitBtn {
    background-color: rgb(21, 16, 48);
    border: 0px;
    color: white;
    height: 50px;
    font-size: 18px;
    padding: 12px 20px;
    font-weight: 800;
  }
}
