.contact {
  color: white;
  padding: 100px;
  font-family: "Poppins", sans-serif;
  background-color: rgb(8, 6, 19);
  z-index: 0;
  display: flex;
  /* justify-content: space-between; */
}
.form {
  background-color: rgb(16, 13, 37);
  border-radius: 20px;
  padding: 40px 30px;
  max-width: 900px;
}
.inputLabel {
  font-size: 24px;
  margin: 0;
  font-family: "Poppins", sans-serif;
  margin: 15px 0px;
}
.inputForm {
  background-color: rgb(21, 16, 48);
  height: 60px;
  width: 100%;
  border: 0px;
  border-radius: 0.5rem;
}
.getintouch {
  color: #aaa6c3;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.contactHeading {
  color: #ffffff;
  font-size: 50px;
  margin: 0;
  font-weight: 900;
}
.inputTextbox {
  background-color: rgb(21, 16, 48);
  border-radius: 0.5rem;

  width: 100%;
}
.submitBtn {
  background-color: rgb(21, 16, 48);
  border: 0px;
  color: white;
  height: 70px;
  font-size: 22px;
  border-radius: 20px;
  padding: 12px 32px;
  font-weight: 800;
  margin-top: 20px;
  cursor: pointer;
  border: 2px solid transparent;
}
.submitBtn:hover {
  border: 2px solid rgb(21, 16, 48);
  color: white;
  background-color: rgb(40, 36, 62);
  /* cur */
}

@media (max-width:700px) {
    .contact{
        padding: 30px;
    }
}
