*{
    --border-radius:19px;
}
.logo {
  width: 80px;
  border-radius: 10px;


}
.navbar {
  
  height: 90px;
  display: flex;
  /* background-color: black; */
  position: fixed;
  width: 100%;
  gap: 30px;
  /* background-color: rgba(54, 54, 54, 0.511); */
  z-index: 10;
}
.left {
  margin-left: 15px;
  display: flex;
  justify-content: space-around;
  gap: 10px ;
  align-items: center;
  color: white;
  padding: 10px;
}
.nav-item {
  color: rgb(193, 193, 193);
  padding: 10px 15px;
  font-size: 30px;
  font-weight: 100;
  font-family: "Poppins", sans-serif;

}
.nav-item:hover,
.active {
  color: white;
  font-weight: 700;
}
.right {
  display: flex;
  align-items: center;

}
.menu {
  display: none;
  cursor: pointer;
}
.menuPhoto {
  width: 40px;
  filter: invert(1);
}
.dropdown {
  display: none;
}
.item {
  display: flex;
  align-items: center;
}
.small-logo {
  width: 20px;
  filter: invert(.7);
  margin: 5px 8px 5px 5px;
}
.logoName{
  font-size: 40px;
}
.dark{
  filter: invert(.1);
}
@media (max-width: 710px) {
  .left{
    padding: 0px;
  }
  .navbar{
    height: 70px;
  }
  .logo{
    width: 60px;
  }
  .right {
    display: none;
  }
  .menu {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }
  .dropdown {
    position: absolute;
    top: 25px;
    right: 20px;
    color: rgb(209, 209, 209);
    /* position: absolute; */
    /* right: 20px; */
    height: 180px;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.463);

    
  }
  
  .item {
    color: rgb(202, 202, 202);
    font-size: 15px;
    padding: 0px 13px;
    height: 100%;
    border-radius: 13px;

  }
  .active-item,
  .item:hover {
    color: white;

  }
  .active-img {
    filter: invert(1);
  }
}
.hidden {
  display: none;
}
.scroll{
  background-color: rgba(0, 0, 0, 0.555);
}
