*{
    --border-radius:19px;
}
.logo {
  width: 40px;
}
.navbar {
    margin-top: 10px;
  display: flex;
  justify-content: space-between;
  /* background-color: black; */
  position: fixed;
  width: 100%;
  /* background-color: rgba(54, 54, 54, 0.511); */
  z-index: 10;
}
.left {
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
}
.nav-item {
  color: white;
  font-family: serif;
  padding: 10px 15px;
  font-size: 25px;
  font-weight: 100;
}
.nav-item:hover,
.active {
    border: 1px solid white;
}
.right {
  display: flex;
  color: white ;
  width: 420px;
  margin: 0 10px;
  align-items: center;
}
.menu {
  display: none;
  cursor: pointer;
}
.menuPhoto {
  width: 30px;
  filter: invert(1);
}
.dropdown {
  display: none;
}
.item {
  display: flex;
  align-items: center;
}
.small-logo {
  width: 20px;
  filter: invert(.9);
  margin: 5px 8px 5px 5px;
}

@media (max-width: 600px) {
  .right {
    display: none;
  }
  .menu {
    display: block;
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
  }
  .dropdown {
    position: absolute;
    top: 5px;
    right: 10px;
    color: white;
    /* position: absolute; */
    /* right: 20px; */
    height: 180px;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid rgb(255, 255, 255);
  }
  
  .item {
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 0px 13px;
    height: 100%;
    border-radius: 13px;

  }
  .active-item,
  .item:hover {
    color: black;
    background-color: white;

  }
  .active-img {
    filter: invert(.1);
  }
}
.hidden {
  display: none;
}
