body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Roboto', sans-serif;

}
.hidden{
  display: none;
}
a{
  text-decoration: none;
}
.content{
  display: flex;
  flex-direction: column;
}